
.header{
    display: flex;
    flex-direction: row;
    
    
    align-items: center;
    width: 100%;
    
    height: 10vh;
    background-color:whitesmoke;


}


.main
{
   background-image: url(back.jpg);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   object-fit: cover;
   height: 90vh;
   display: flex;
}
.title
{
    display: flex;
    flex-direction: column;

    align-items: center;
}